.tarea{
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 60%;
    margin: 2px auto;
    font-size: 1.5em;
}
.texto{
    
}
.papelera{
    position: absolute;
    top:10px;
    right: 5px;
    color: #999;
}
.papelera:hover{
    color:#444;
    cursor: pointer;
}
#nuevaTarea{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 40%;
    margin: 10px auto;
    font-size: 1.5em;
    margin-left: 19%;
}
#botonNuevaTarea{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 20%;
    margin: 10px auto;
    font-size: 1.5em;
    
}
#preloaderInsertar{
    height: 60px;
    vertical-align: middle;
    visibility: hidden;
}